#breadcrumbUL {
    list-style: none;
    font-size: .9rem;
    line-height: .9rem;
    text-align: center;
    display: inline-block;
    float: none;
    padding: 11px 0;
}

#breadcrumbUL li {
    color: #555;
    display: inline-block;
    margin-right: 5px;

}

#breadcrumbUL li+li:before {
    content: "➔ ";
}

#breadcrumbUL li a {
    color: #555;
    text-decoration: none;
    hyphens: none;
}