#breadcrumb {
    list-style: none;
    text-align: center;
}

#breadcrumb li {
    display: inline;
    margin-right: 5px;
}

#breadcrumb li+li:before {
    content: "➔ ";
    margin-right: 5px;
}

#breadcrumb li a {
    text-decoration: none;
    color: #333;
}